/*
 *  This stylesheet defines the dbc class to help improve they style of  Dash components
 *  when using a Bootstrap stylesheet
 *
 */




/* ----------------------------------
 *  Dropdown
 *     Black background for a dark theme
 */

/* input box */
.dbc .Select-control {
    background-color: var(--bs-body-bg) !important;
}

/* changes the text color of input box */
.dbc .Select-value-label {
    color: var(--bs-body-color) !important;
}

.dbc .Select input {
    color: var(--bs-body-color);
}

.dbc .Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey !important;
    border-radius: 4px !important;

}
/* dropdown menu options */
.dbc .VirtualizedSelectOption {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
 }

/* dropdown menu hover effect */
.dbc .VirtualizedSelectFocusedOption {
    background-color: var(--bs-body-bg);
    opacity: .7;
}

/* border on focus - default is blue
 * shadow box around input box.  default is blue
 */
.dbc .is-focused:not(.is-open) > .Select-control {
  border-color: var(--bs-primary) !important;
 /* box-shadow: 0 0 0 0.2rem rgba(223, 105, 26, 0.25); /* lighter primary */
 /* note - dropdowns look better with a box shadow.  If you are not using a theme switcher, making
  * the box shadow a lighter shade of the primary color looks nice.  (for now it's removed)
  */
  box-shadow: none !important;
}


/* primary  this colors the input box text and x  of multi */
.dbc .Select--multi .Select-value {
  color: var(--bs-body-color);
}

/* ---------------------------------------
 * textarea
 */
.dbc textarea {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

/* ----------------------------------------
 *  input boxes including editable fields in DataTable and the pagination buttons
 */
.dbc input input.current-page {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

/* Use this classname for dcc.Input */
.dbc input {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

/* ---------------------------------------
 * Datatable
 */

/* fixes margins so data isn't cut off at table edges */
.dbc .dash-table-container .row {
    display : block !important;
    margin: 0;
}

/* fixes  when the table dropdown doesn't drop down */
dbc .Select-menu-outer {
    display: block !important;
}

/*
 *  sort arrow and delete icons in the DataTable header - changes pink color
 *  these icons appear when the table is sortable and/or columns are deletable
 */
.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    --accent: var(--bs-primary) !important;
    --hover: none !important;
}

.dbc input.dash-filter--case--sensitive {
    border-color: var(--bs-primary) !important;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    color: var(--bs-primary) !important;
}

/* pagination buttons - this removes the default pink hover */
.dbc .last-page:hover, .previous-page:hover, .first-page:hover, .next-page:hover{
    color: var(--bs-primary) !important;
}

/* table body */
.dbc .dash-spreadsheet td {
    font-family:  var(--bs-font-family-sans-serif);
    background-color: var(--bs-body-bg)
    color: var(--bs-body-color)
    --border: var(--bs-gray);
    --border-width: .5px;
}

.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    font-family:  var(--bs-font-family-sans-serif);
    background-color: var(--bs-body-bg); !important
    color: var(--bs-body-color);
    --accent: var(--bs-primary) !important
    --border: var(--bs-gray);
}

.dbc dash-spreadsheet th {
            background-color: yellow; !important
	    }

/* filter row in the header */
.dbc .dash-spreadsheet .dash-filter {
    font-family:  var(--bs-font-family-sans-serif);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    --border: var(--bs-gray);
}

/* tooltips - makes text readable in dark themes */
.dbc .dash-table-tooltip {
    color:black
}


/* row hover */
.dbc.dbc_row_hover .dash-spreadsheet td.dash-cell {
    border-color: lightgrey !important;
 }
.dbc.dbc_row_hover .dash-spreadsheet  tr:hover td.dash-cell {
    border-color: lightgrey !important;
    border-width: 1.5px !important;
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
}


body .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-color: #d3d3d3;
}


/*------------------------------------
 * Sliders - makes the slider the "primary color"
 */

.dbc .rc-slider-handle {
  border: 0;
  background-color: var(--bs-primary)
}

.dbc .rc-slider-rail {
   background-color: #ededed;  /* grey */
}

.dbc .rc-slider-track {
  background-color: var(--bs-primary)
}

.dbc .rc-slider-dot {
  border: 0;
  background-color: #ededed; /* grey */
}

.dbc .rc-slider-dot.rc-slider-dot-active {
  background-color: var(--bs-primary)
}

/* label color */
.dbc .rc-slider-mark-text {
  color: var(--bs-body-color)
}

/* Makes the active label color different than default label color */
.dbc .rc-slider-mark-text.rc-slider-mark-text-active {
  /* font-weight: 800 */
}



/* ----------------------------------
 * Tabs
*/


.dbc .tab-pane .card {
    border-top-left-radius: 0;
 }

.dbc .nav-tabs {
    border-bottom-width: 0 !important;
 }

.dbc .nav-link {
    border-width: 0.5px !important;
    border-color: rgba(100, 100, 100, 0.4);
    color: var(--bs-primary) ;
 }
.dbc .nav-link.active {
    background-color: var(--bs-primary)
    color: white;
    border-color: rgba(100, 100, 100, 0.4);
 }
.dbc .nav-item {
    margin-right: 0 !important;
}
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td.focused {
    border-color: var(--bs-primary);
    background-color: rgba(var(--bs-primary-rgb), 0.5);

}