

/* -------- for aio theme switch component ---------- */
#theme-switch-label-dark {
  background-color: black;
  color: white;
  width: 100px
}


#theme-switch-label {
  background-color: white;
  color: black;
  width: 100px
}